<p> Welcome to the admin panel! </p>

<%= link_to 'Create a new school', new_user_session_path %>

<table class="table table-hover table-striped table-responsive">
  <thead>
    <tr>
      <th><%= "School" %></th>
      <th><%= "Email" %></th>
      <th><%= "Last Signed In At" %></th>
      <th colspan="2"</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.school %></td>
        <td><%= user.email %> </td>
        <td><%= user.last_sign_in_at.try(:strftime, "%A, %B %d, %Y")%></td>
        <td><%= link_to "Change Password", edit_user_registration_path, class: 'btn btn-danger btn-xs' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, class: 'btn btn-danger btn-xs' %></td>

      </tr>
    <% end %>
  </tbody>
</table>

