<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>School</th>
      <th>Title</th>
      <th>Summary</th>
      <th>Compensation min</th>
      <th>Compensation max</th>
      <th>Exipiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.school, job_path(job)%></td>
        <td><%= link_to job.title, job_path(job), style: "font-size=24"%></td>
        <td><%= job.summary %></td>
        <td><%= job.compensation_min %></td>
        <td><%= job.compensation_max %></td>
        <td><%= job.exipiration %></td>
        <td><%= link_to 'Edit', edit_job_path(job), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Destroy', job, method: :delete, class: 'btn btn-primary btn-xs' %></td>
        <!--<td><%#<%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
