<p id="notice"><%= notice %></p>

<p><b>Job Details</b></p>
<p>
  <strong>School:</strong>
  <%= @job.school %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Job Description:</strong>
  <%= @job.job_description %>
</p>

<p>
  <strong>FTE:</strong>
  <%= @job.fte %>
</p>

<p>
  <strong>Compensation Min:</strong>
  <%= @job.compensation_min %>
</p>

<p>
  <strong>Compensation Max:</strong>
  <%= @job.compensation_max %>
</p>

<p>
  <strong> Posted on: </strong>
  <%= @job.created_at.try(:strftime, "%A, %B %d, %Y") %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @job.expiration.try(:strftime, "%A, %B %d, %Y") %>
  </p>



<br>
<p><b>School Information</b></p>

<p>
  <strong>Address: </strong>
  <% if @address != nil %>
      <%= @address %>
  <% else %>
      Address Unavailable 
  <% end %>
</p>

<p>
  <strong>Website: </strong>
  <% if @website != nil %>
      <%= link_to @website, "#{@website}" %>
  <% else %>
      Website Unavailable 
  <% end %>
</p>

<p>
  <strong>Mission: </strong>
  <% if @mission != nil %>
      <%= @mission %>
  <% else %>
      Mission Unavailable 
  <% end %>
</p>

<p>
  <strong>Number of Students: </strong>
  <% if @num_students != nil %>
      <%= @num_students %>
  <% else %>
      Unavailable 
  <% end %>
</p>

<p>
  <strong>Number of Staff: </strong>
  <% if @num_staff != nil %>
      <%= @num_staff %>
  <% else %>
      Unavailable 
  <% end %>
</p>

<p>
  <strong>Student:Staff Ratio: </strong>
  <% if @ratio != nil %>
      <%= @ratio %>
  <% else %>
      Unavailable 
  <% end %>
</p>

<p>
  <strong>If you want to work here you should know: </strong>
  <% if @special != nil %>
      <%= @special %>
  <% else %>
      Unavailable 
  <% end %>
</p>


<%= link_to 'Back', jobs_path, class: 'btn btn-primary btn-xs' %>

<% if user_signed_in? %>
    <% if current_user.user_type == 'school' or  current_user.user_type == 'admin'%>
      <td> | <%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-primary btn-xs' %></td>
    <% end %>
    <% if current_user.user_type == 'school' or  current_user.user_type == 'admin'%>
        <td> | <%= link_to 'Destroy', @job,  method: :delete, class: 'btn btn-danger btn-xs' %></td>
    <% end %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.user_type == 'candidate'%>
    <td> | <%= link_to 'Submit Resume', new_app_path(@job), class: 'btn btn-success btn-xs' %></td>
  <% end %>
<% else %>
  <td> | <%= link_to 'Submit Resume', new_app_path(@job), class: 'btn btn-success btn-xs' %> </td>
<% end %>
