<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @job.school %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @job.summary %>
</p>

<p>
  <strong>Compensation min:</strong>
  <%= @job.compensation_min %>
</p>

<p>
  <strong>Compensation max:</strong>
  <%= @job.compensation_max %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @job.expiration.try(:strftime, "%A, %B %d, %Y") %>
</p>

<%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-primary btn-xs' %> |
<%= link_to 'Back', jobs_path, class: 'btn btn-primary btn-xs' %> |
<%= link_to 'Destroy', @job,  method: :delete, class: 'btn btn-primary btn-xs' %> |
<%= link_to 'Apply Here', new_app_path(@job), class: 'btn btn-primary btn-xs' %>
